<ion-view view-title="Words Killer">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider">
        Life:10 Point:11
      </div>
      <div class="item item-text-wrap">
        <h1 style="text-align: center;">123</h1>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        This is tip
      </div>
    </div>


    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Complete the word">
      </label>
    </div>
    <button class="button button-block button-balanced" ng-click="wordSubmit()">
      Submit
    </button>
    <div class="row">
      <div class="col-40">
        <button class="button button-block button-positive" ng-click="wordTran()">
          Translation
        </button>
      </div>
      <div class="col-40 col-offset-20">
        <button class="button button-block button-positive" ng-click="wordTip()">
          Tip
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-40">
        <button class="button button-block button-positive" ng-click="wordNote()">
          Notes
        </button>
      </div>

      <div class="col-40 col-offset-20">
        <button class="button button-block button-assertive" ng-click="wordPass()">
          Pass
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
