<ion-view view-title="Words Killer" style="background-image: url(img/2.jpg);background-size: cover;">
  <ion-content class="padding">

    <div class="card"style="opacity: 0.8">
      <div class="item item-text-wrap">
        <h1 style="text-align: center;">{{myWord.t}}</h1>
        <p style="text-align: center;">词性: {{myWord.n}}</p>
      </div>
    </div>

    <div class="list list-inset"style="opacity: 0.8">
      <label class="item item-input">
        <input type="text" placeholder="Input the word" ng-model="inWord.word">
      </label>
    </div>
    <button class="button button-block button-balanced" ng-click="wordSubmit()">
      Submit
    </button>
    <button class="button button-block button-assertive" ng-click="wordPass()">
      Pass
    </button>

  </ion-content>
</ion-view>

