<ion-view hide-nav-bar="true" style="background-image: url(img/bg1.jpg)">
  <ion-content>
    <h2 style="text-align: center;padding-top: 50%;color: #ffffff;">Words Killer</h2>
    <div class="row" style="position: fixed;bottom: 5%">
      <div class="col-33 col-offset-10">
        <button class="button button-outline button-light" style="width: 100%; text-align: center" ng-click="goNew()">
          New Game
        </button>
      </div>
      <div class="col-33 col-offset-10">
        <button class="button button-outline button-light" style="width: 100%; text-align: center" ng-click="goOn()">
          Continue
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

